<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="productVersion" value="0.5" />
    <!--
    fileExtensions value format is a single string of entries separated by semicolons.   Wildcards (e.g. *) are OK
    e.g. to scan all .exe, .dll and .sys files use "*.exe; *.dll; *.sys" as the value. 
    You can also add a full file name or list of file names instead of a set of extensions to do one or several specific files,
    or a set of files specified with wildcards, e.g. "datacore.executive.*.dll"
    -->
    <add key="fileExtensions" value="*.exe; *.dll; *.sys" />
    <add key ="ildasm" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v8.0A\bin\NETFX 4.0 Tools\ildasm.exe"/>
    <add key="ildasmArgs" value="/text" />
    <add key ="dumpBin" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\MSVC\14.16.27023\bin\HostX86\x86\dumpbin.exe"/>
    <add key="dumpBinArgs" value="/DEPENDENTS" />
    <!--<add key ="dumpBinArgs" value="/all /rawdata:NONE"/>-->
    <!--ver 4:0:4:19343 of Gnu's diff utility-->
    <add key="gnuDiff" value="c:\Program Files (x86)\GnuWin32\bin\diff.exe" />
    <!--The -I arguments are regular expressions for diff to "Ignore"  -->
    <add key="gnuDiffArgs" value=" --text                                         -I &quot;// *MVID: *{[a-fA-F0-9-]*}&quot;                                           -I &quot;// *Image base: *0x[0-9a-fA-F]*&quot;                                         -I &quot;.ver [0-9]:[0-9]:.*$&quot;                                         -I &quot;System.Reflection.Assembly.*VersionAttribute&quot;                                         -I &quot;.hash = ([0-9a-fA-F ]*//.*&quot;                                          -I &quot;Format: RSDS,&quot;                                          -I &quot;of Certificates Directory&quot;                                         -I &quot;of Resource Directory&quot;                                        -I &quot;Dump of file&quot;                                        -I &quot;time date stamp&quot;                                        -I &quot;builds.....viacode&quot;                                         " />
    <!--Gnu diff runs out of memory on very large files.   comm is much less configurable but handles big files better.-->
    <add key="commDiff" value="c:\Program Files (x86)\GnuWin32\bin\comm.exe" />
    <add key="commDiffArgs" value="-3" />
    <!--Only for test project-->
    <add key="baseHomeDir" value=".\Assets\" />
    <add key="notDotNetFile" value=".\Assets\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>